allow time_daemon time_data_file:file { getattr append unlink };
allow time_daemon time_data_file:dir { remove_name };
allow time_daemon system_server:dir search;
allow time_daemon system_server:file { read open };
